# don't ignore keep files
!.gitkeep
!.gitignore

#/vendor
/.idea
app/certs*
node_modules
Homestead.json
Homestead.yaml
.env
_local_
.local.
_local.
.phpunit.result.cache
#lumen_ide_helper.php
app/importimages/*
!app/importimages/.gitkeep
!app/importimages/.gitignore
app/importimages/**
app/importimages/error/**
!app/importimages/error/.gitkeep
!app/importimages/error/.gitignore
app/importimages/finished/**
!app/importimages/finished/.gitkeep
!app/importimages/finished/.gitignore
app/importimages/new/**
!app/importimages/new/.gitkeep
!app/importimages/new/.gitignore
app/importimages/processing/**
!app/importimages/processing/.gitkeep
!app/importimages/processing/.gitignore
app/importimages/error/18/**
app/importimages/finished/18/**
app/importimages/new/18/**
app/importimages/processing/18/**
uploads/*


# don't ignore keep files
!.gitkeep
!.gitignore
!*/**/.gitkeep
!*/**/.gitignore
